/**** Search modal */
.search-modal {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  /* overflow-y: auto; */
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: flex-start;
  backdrop-filter: blur(8px);
}

.search-modal-inner-wrapper {
  cursor: default;
  margin-top: 5rem;
  background: var(--vp-c-bg);
  width: 760px;
  min-height: 6rem;
  max-height: calc(100vh - 8rem);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;

  /* Плавная анимация появления */
  animation: modalSlideIn 0.2s ease-out;
}

.search-modal-content {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1.25rem;
}

.search-modal-close-button {
  position: fixed;
  top: 16px;
  right: 16px;
  font-size: 22px;
  background: #222;
  border: none;
  border-radius: 20px;
  padding: 4px 12px;
  cursor: pointer;
  color: #bbb;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}

.search-modal-close-button:hover {
  filter: brightness(115%);
}

.search-modal-top-bar {
  display: none;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.75rem;
}

.search-modal-mobile-close-button {
  font-size: 24px;
  padding: 4px 10px;
  cursor: pointer;
}

/* Анимация появления модального окна */
@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Активное состояние модального окна */
/* .search-modal.active {
  display: flex;
  animation: modalFadeIn 0.2s ease-out;
} */

/* Анимация появления фона модального окна */
/* @keyframes modalFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

/* Предотвращение скролла body когда модальное окно открыто */
/* body.modal-open {
  overflow: hidden;
} */

/* Адаптивность для мобильных устройств */
@media (max-width: 840px) {
  .search-modal-inner-wrapper {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    margin-top: 0;
    box-shadow: none;
  }

  .search-modal-top-bar {
    display: flex;
  }

  .search-modal-close-button {
    display: none;
  }

  .search-modal-content {
    padding-bottom: 3rem;
  }
}
