/* @import './html-block.css'; */

:root {
  --font-body: Arial, "Helvetica Neue", Helvetica, sans-serif;
  --primary-hue: 219;
  --layout-hue: 219;
  --visited-hue: 287;
  --primary-btn-bg: hsl(var(--primary-hue), 80%, 50%);
  --primary-btn-hover: hsl(var(--primary-hue), 80%, 53%);
  --gray-100: hsl(var(--layout-hue), 14.29%, 95.88%);
  --gray-150: hsl(var(--layout-hue), 14%, 93%);
  --gray-200: hsl(var(--layout-hue), 13.04%, 90.98%);
  --gray-300: hsl(var(--layout-hue), 12.2%, 83.92%);
  --gray-400: hsl(var(--layout-hue), 10.61%, 64.9%);
  --gray-500: hsl(var(--layout-hue), 8.94%, 46.08%);
  --gray-600: hsl(var(--layout-hue), 13.79%, 34.12%);
  --gray-700: hsl(var(--layout-hue), 19.12%, 26.67%);
  --gray-800: hsl(var(--layout-hue), 27.91%, 16.86%);
  --gray-900: hsl(var(--layout-hue), 39.29%, 10.98%);

  /**** Layout */
  --list-item-thumb-width: 280px;
  --body-font-size: 1.125rem;
  --body-line-height: 1.75rem;
  --body-bg: #fff;
  --body-text-color: hsl(var(--layout-hue), 39%, 11%);
  --body-dark-bg: hsl(var(--layout-hue), 39%, 11%);
  --body-dark-text-color: hsl(var(--layout-hue), 13%, 91%);
  --util-page-header-color: hsl(var(--primary-hue), 10%, 46%);
  --util-page-dark-header-color: hsl(var(--primary-hue), 10%, 69%);
  --content-page-figcaption-color: hsl(var(--primary-hue), 12%, 50%);

  /**** TopBar */
  --topbar-mobile-bg: hsl(var(--primary-hue), 10%, 96%);
  --topbar-mobile-border: hsl(var(--primary-hue), 10%, 84%);
  --topbar-mobile-dark-bg: hsl(var(--primary-hue), 46%, 10%);
  --topbar-mobile-dark-border: hsl(var(--primary-hue), 48%, 5%);

  /**** Buttons */
  --btn-text-hover: #374151;
  /* TODO: должно использовать в пагинации */
  /* --btn-bg: hsl(var(--primary-hue), 0%, 93%); */
  --btn-bg-active: hsl(var(--primary-hue), 0%, 84%);
  --btn-bg-hover: hsl(var(--primary-hue), 0%, 93%);
  --btn-dark-text-hover: white;
  --btn-bg-dark: hsl(var(--primary-hue), 24%, 18%);
  --btn-dark-bg-active: hsl(var(--primary-hue), 20%, 22%);
  --btn-dark-bg-hover: hsl(var(--primary-hue), 26%, 21%);
  --btn-text-disabled: #b8b8b8;
  --btn-dark-text-disabled: #787b81;
  --btn-link-text-active: #495164;
  --btn-link-dark-text-active: #abacb0;
  --home-btn-bg: hsl(var(--primary-hue), 24%, 30%);

  /**** SideBarLink */
  --sidebar-link-bg-hover: hsl(var(--layout-hue), 26%, 94%);
  --sidebar-link-bg-active: hsl(var(--layout-hue), 26%, 90%);
  --sidebar-link-dark-bg-hover: hsl(var(--layout-hue), 26%, 22%);
  --sidebar-link-dark-bg-active: hsl(var(--layout-hue), 24%, 24%);

  /**** Podcast btn */
  --podcast-btn-bg: hsl(263, 73%, 40%);

  /**** VideoLink */
  --video-link-bg: hsl(0deg 87% 45%);

  /**** Sidebar */
  --drawer-bg: hsl(var(--layout-hue), 40%, 98%);
  --drawer-border-color: hsl(var(--layout-hue), 30%, 87%);
  --drawer-dark-border-color: #000;
  --drawer-dark-bg: hsl(var(--layout-hue), 28%, 17%);
  --backdrop-bg: rgba(0, 0, 0, 0.85);

  /**** DropdownButton */
  --dropdown-list-bg: var(--drawer-bg);
  --dropdown-list-dark-bg: var(--drawer-dark-bg);

  /**** SimpleLink */
  --color-a-light-link: hsl(var(--primary-hue), 74%, 44%);
  --color-a-light-visited: hsl(var(--visited-hue) 71% 44%);
  --color-a-dark-link: hsl(var(--primary-hue), 100%, 76%);
  --color-a-dark-visited: hsl(var(--visited-hue) 72% 65%);

  /**** TagItem */
  --tag-item-bg: var(--primary-btn-bg);
  --tag-item-bg-active: hsl(var(--primary-hue), 75%, 40%);

  /**** Badge */
  --badge-bg: hsl(var(--primary-hue), 100%, 61%);

  /**** SwitchAppearance */
  --switch-appearance-border-color: #c2c2c4;
  --switch-appearance-bg-color: rgba(142, 150, 170, 0.14);
  --switch-appearance-border-color-hover: #3451b2;
  --switch-appearance-check-bg: #ffffff;
  --switch-appearance-icon-color: rgba(60, 60, 67, 0.78);
  --switch-appearance-dark-icon-color: rgba(255, 255, 245, 0.86);
  --switch-appearance-dark-border-color: #3c3f44;
  --switch-appearance-dark-bg-color: rgba(101, 117, 133, 0.16);
  --switch-appearance-dark-border-color-hover: #a8b1ff;
  --switch-appearance-dark-check-bg: #000000;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--body-text-color);
  background: var(--body-bg);
}

.dark body {
  color: var(--body-dark-text-color);
  background: var(--body-dark-bg);
}

@media (min-width: 1200px) {
  #app-page {
    width: 840px;
  }
}

svg,
button {
  outline: 0;
}

/******** Img Modal */
/*
.img-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.85);
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media (min-width: 800px) {
	.img-modal {
		padding: 1rem;
	}
}
.img-modal > div {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.5rem 2rem;
}
.img-modal > div span {
	color: #aaa;
	font-size: 1.35rem;
}
.img-modal > div span:hover {
	color: #fff;
}
*/

/******** SidebarLogo */
/* 
.sidebar-logo {
	 padding: 1.25rem 0 1.3rem 2.75rem;
	 background-color: rgb(249 250 251);
 }
.dark .sidebar-logo {
	background-color: #f7f7f7;
}
.sidebar-logo__text {
	margin-left: 1.15rem;
	line-height: 1.4rem;
}
*/

/**** Content page (article or simple page) */
.content-page figure {
  margin-top: 1.5rem;
  margin-bottom: 1.7rem;
}

.content-page figure figcaption {
  margin-top: 0.3rem;
  font-size: 1rem;
  color: var(--content-page-figcaption-color);
}

/**** Preview item */
.preview-text {
  line-height: 1.4;
  font-weight: 400;
  color: hsl(var(--primary-hue), 19%, 32%);
}

.dark .preview-text {
  color: hsl(var(--primary-hue), 11%, 65%);
}

.preview-author-date {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(220deg 8.94% 46.08%);
}

.dark .preview-author-date {
  color: hsl(217.89deg 10.61% 64.9%);
}

/**** Simple page */
.simple-page {
  margin-top: 1rem;
}

.simple-page h1 {
  font-weight: bold;
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: var(--util-page-header-color);
}

.dark .simple-page h1 {
  color: var(--util-page-dark-header-color);
}

/**** Lighter Btn for use on lighter background */
.btn-lighter:hover {
  background: var(--sidebar-link-bg-hover);
}

.btn-lighter.active {
  background: var(--sidebar-link-bg-active);
}

.btn-lighter.active:hover {
  filter: brightness(103%);
}

.dark .btn-lighter:hover {
  background: var(--sidebar-link-dark-bg-hover);
}

.dark .btn-lighter.active {
  background: var(--sidebar-link-dark-bg-active);
}

.dark .btn-lighter.active:hover {
  filter: brightness(110%);
}

/******* Doc page */
.vp-doc {
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.25rem;
}

.vp-doc h2,
.vp-doc h3,
.vp-doc h4 {
  border: 0;
  padding-top: 0;
}

.vp-doc h2 .header-anchor,
.vp-doc h3 .header-anchor,
.vp-doc h4 .header-anchor {
  top: 0;
}

.vp-doc a {
  color: var(--color-a-light-link);
}

.vp-doc a:visited {
  color: var(--color-a-light-visited);
}

.dark .vp-doc a {
  color: var(--color-a-dark-link);
}

.dark .vp-doc a:visited {
  color: var(--color-a-dark-visited);
}

.vp-doc a:hover {
  filter: brightness(130%);
}
