/* @import './html-block.css'; */

:root {
  --color-text: rgba(0, 0, 0, 0.7);
  /* --vp-font-family-base: 'Inter', ui-sans-serif, system-ui, sans-serif, */
  /*       'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
  --font-body: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-mono: "Fira Mono", monospace;
  font-family: var(--font-body);
  color: var(--color-text);

  --primary-hue: 219;
  --visited-hue: 287;
  --layout-hue: 215;
  --primary-btn-bg: hsl(var(--primary-hue), 80%, 50%);

  /**** Util and simple page */
  --util-page-header-color: #6a6a6a;
  --util-page-dark-header-color: #a2abbe;
  --simple-page-font-size: 1.25rem;
  --simple-page-line-height: 1.75;

  /**** TopBar */
  --topbar-mobile-bg: #f5f5f5;
  --topbar-mobile-border: #d6d6d6;
  --topbar-mobile-dark-bg: #0d1423;
  --topbar-mobile-dark-border: #060911;

  /**** Buttons */
  --btn-text-hover: #374151;
  --btn-bg-active: #d5d5d5;
  --btn-bg-hover: #ececec;
  --btn-dark-text-hover: white;
  --btn-dark-bg-active: #2d3544;
  --btn-dark-bg-hover: #273042;
  --btn-text-disabled: #b8b8b8;
  --btn-dark-text-disabled: #787b81;
  --btn-link-text-active: #495164;
  --btn-link-dark-text-active: #abacb0;

  /**** SideBarLink */
  --sidebar-link-bg-hover: #e2e2e2;
  --sidebar-link-bg-active: #dadada;
  --sidebar-link-dark-bg-hover: #293546;
  --sidebar-link-dark-bg-active: #2f3b4c;

  /**** Podcast btn */
  --podcast-btn-bg: hsl(263, 73%, 40%);
  --podcast-btn-bg-hover: hsl(263, 65%, 32%);

  /**** Sidebar */
  --drawer-bg: hsl(var(--layout-hue), 40%, 98%);
  --drawer-border-color: hsl(var(--layout-hue), 30%, 87%);
  --drawer-dark-border-color: #000;
  --drawer-dark-bg: hsl(var(--layout-hue), 28%, 17%);
  --backdrop-bg: rgba(0, 0, 0, 0.85);

  /**** DropdownButton */
  --dropdown-list-bg: var(--drawer-bg);
  --dropdown-list-dark-bg: var(--drawer-dark-bg);

  /**** SimpleLink */
  --color-a-light-link: hsl(var(--primary-hue), 74%, 44%);
  --color-a-light-visited: hsl(var(--visited-hue) 71% 44%);
  --color-a-dark-link: hsl(var(--primary-hue), 100%, 76%);
  --color-a-dark-visited: hsl(var(--visited-hue) 72% 65%);

  /**** TagItem */
  --tag-item-bg: var(--primary-btn-bg);
  --tag-item-bg-active: hsl(var(--primary-hue), 75%, 40%);

  /**** Badge */
  --badge-bg: hsl(var(--primary-hue), 100%, 61%);
}

/* from https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
:root {
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;
  --vp-header-anchor-symbol: "#";
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-bg-soft: #f6f6f7;
  --vp-code-font-size: 0.875em;
  --vp-c-indigo-1: #3451b2;
  --vp-c-indigo-2: #3a5ccc;
  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-code-color: var(--vp-c-brand-1);
  --vp-c-default-soft: var(--vp-c-gray-soft);
  --vp-code-bg: var(--vp-c-default-soft);
  --vp-code-link-color: var(--vp-c-brand-1);
  --vp-code-link-hover-color: var(--vp-c-brand-2);
  --vp-c-bg-alt: #f6f6f7;
  --vp-code-block-bg: var(--vp-c-bg-alt);
  --vp-code-line-height: 1.7;
  --vp-code-font-size: 0.875em;
  --vp-code-block-color: var(--vp-c-text-2);
  --vp-code-line-highlight-color: var(--vp-c-default-soft);
  --vp-c-red-soft: rgba(244, 63, 94, 0.14);
  --vp-c-danger-soft: var(--vp-c-red-soft);
  --vp-code-line-error-color: var(--vp-c-danger-soft);
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.14);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);
  --vp-code-line-warning-color: var(--vp-c-warning-soft);
  --vp-code-block-divider-color: var(--vp-c-gutter);
  --vp-font-family-mono: ui-monospace, "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
}

.dark {
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #000000;
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-bg-soft: #202127;
  --vp-c-bg-alt: #161618;
  --vp-c-red-soft: rgba(244, 63, 94, 0.16);
  --vp-c-yellow-soft: rgba(234, 179, 8, 0.16);
}

body {
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 1200px) {
  #app-page {
    width: 840px;
  }
}

svg,
button {
  outline: 0;
}

/******** Img Modal */
/*
.img-modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.85);
	z-index: 50;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media (min-width: 800px) {
	.img-modal {
		padding: 1rem;
	}
}
.img-modal > div {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1.5rem 2rem;
}
.img-modal > div span {
	color: #aaa;
	font-size: 1.35rem;
}
.img-modal > div span:hover {
	color: #fff;
}
*/

/******** SidebarLogo */
/* 
.sidebar-logo {
	 padding: 1.25rem 0 1.3rem 2.75rem;
	 background-color: rgb(249 250 251);
 }
.dark .sidebar-logo {
	background-color: #f7f7f7;
}
.sidebar-logo__text {
	margin-left: 1.15rem;
	line-height: 1.4rem;
}
*/

/**** Lighter Btn for use on lighter background */
.btn-lighter:hover {
  background: var(--sidebar-link-bg-hover);
}

.btn-lighter.active {
  background: var(--sidebar-link-bg-active);
}

.btn-lighter.active:hover {
  filter: brightness(110%);
}

.dark .btn-lighter:hover {
  background: var(--sidebar-link-dark-bg-hover);
}

.dark .btn-lighter.active {
  background: var(--sidebar-link-dark-bg-active);
}

.dark .btn-lighter.active:hover {
  filter: brightness(110%);
}

/******* Doc page */
.vp-doc {
  font-weight: 400;
  line-height: 1.25;
  font-size: 1.25rem;
}

.vp-doc h2,
.vp-doc h3,
.vp-doc h4 {
  border: 0;
  padding-top: 0;
}

.vp-doc h2 .header-anchor,
.vp-doc h3 .header-anchor,
.vp-doc h4 .header-anchor {
  top: 0;
}

.vp-doc a {
  color: var(--color-a-light-link);
}

.vp-doc a:visited {
  color: var(--color-a-light-visited);
}

.dark .vp-doc a {
  color: var(--color-a-dark-link);
}

.dark .vp-doc a:visited {
  color: var(--color-a-dark-visited);
}

.vp-doc a:hover {
  filter: brightness(130%);
}
